<html>
	<head>
		<title>%RELEASENAME% PASSED TO: %TEAMHOLDING% : Current Step: 1. Merging/Creating Package</title>
	</head>
	<body align="center">
		<table align="center" width="600px" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td align="center">
					<font face="Calibri">
					<div style="width: 600px;
			  					display: block;
			  					margin-left: auto;
			  					margin-right: auto;
			  					border:2px solid #724101;">
						<img src="http://siteops.angieslist.com/potato/images/emailHeader.png" />
						<div style="padding: 8px;">
							<steps>
								<h1>Release: %RELEASENAME%</h1>
								<p>Passed to: %PERSONHOLDING% of %TEAMHOLDING%<br/>
								Current Step: <b>Merging/Creating Package</b><br/>
								</p>
								<p><i><b>What needs to be done before passing:</b></i><br/>
								<ol>
									<li>Test1</li>
									<li>Test2</li>
								</ol>
								<br/>
								<b><i>When finished, pass to QA</i></b><br/><br/>
								Notes from Passer: %NOTES%
								</p>
							</steps>
								<br/>
								<br/>
						</div>
					</div>
					</font>
				</td>
			</tr>
		</table>
	</body>
</html>